<h1>Post Tweet</h1>
<form method="POST" action="/tweets">
  <strong>
  	<%= currentUser.username %>
  </strong>
  <input type="text" name="content" placeholder="tweet">
  <input type="submit" value="Tweet">
</form>